/* Global =================================== */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
    background: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    position: relative;
}

/* Mobile =================================== */
/* Section =================================== */
section {
    max-width: 310px;
    border-radius: .3rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    overflow: hidden;
}

section > * {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
}

section h3 {
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

/* Presentation =================================== */
.presentation {
    background: white;
}

.presentation > * {
    margin-bottom: 1.3rem;
}

.presentation h1 {
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}

.presentation h2 {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
}

.presentation p {
    font-size: .9rem;
    color: hsl(218, 22%, 67%);
}

/* Subscription =================================== */
.subscription {
    background: hsl(179, 62%, 43%);
    color: white;
}

.subscription .amount {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgba(255, 255, 255, .5);
}

.subscription .amount span {
    margin-right: .5rem;
    font-size: 2rem;
    color: white;
}

.subscription p {
    margin-bottom: 2rem;
    color: hsl(204, 43%, 93%);
}

.subscription button {
    padding: 1rem 0;
    width: 100%;
    background: hsl(71, 73%, 54%);
    border: none;
    border-radius: .4rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.subscription button:hover {
    background:hsl(71, 73%, 44%);
    transition-duration: .4s;
    cursor: pointer;
}

/* Reasons =================================== */
.reasons {
    background: hsl(179, 47%, 52%);
}

.reasons li {
    margin: .2rem 0;
    color: rgba(255, 255, 255, .6);
    list-style: none;
}

/* Footer =================================== */
footer {
    padding: .5rem;
    position: absolute;
    bottom: 0;
    opacity: .7;
}

.attribution {
    font-size: .8rem;
    text-align: center;
}

.attribution a {
    color: hsl(179, 62%, 43%);
    text-decoration: none;
}

/* Desktop =================================== */
@media (min-width: 800px) {

    
    /* Section =================================== */
    .presentation {grid-area: p;}
    .subscription {grid-area: s;}
    .reasons {grid-area: r;}

    section {
        max-width: 650px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "p p"
        "s r";
        border-radius: .6rem;
    }

    section > * {
        padding: 2.5rem;
    }

    section h3 {
        font-size: 1.3rem;
    }

    /* Presentation =================================== */
    .presentation > * {
        margin-bottom: 1.5rem;
    }

    .presentation h1 {
        font-size: 1.6rem;
    }

    .presentation h2 {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .presentation p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    /* Subscription =================================== */
    .subscription .amount {
        font-size: 1.1rem;
    }
    
    .subscription .amount span {
        margin-right: .7rem;
        font-size: 2.3rem;
    }

    .subscription p {
        font-size: 1.01rem;
    }
}